body {
  background-color: #000;
  color: #fff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  margin-top: 50px;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #727272;
  border-radius: 10px;
  box-shadow: 0 0 20px #c6c5c5;
}

h1 {
  text-align: center;
  color: #fff;
}

ul.list-unstyled {
  padding: 0;
}

li {
  list-style: none;
  margin-bottom: 20px;
}

.activity-image-container {
  display: flex;
  justify-content: left;
}

.activity-image {
  max-width: 50%;
  height: auto;
  border-radius: 10px;
}

form.d-inline-block {
  display: inline-block;
}

button.btn {
  margin-top: 10px;
}
