<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Liste des activités</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    {% include 'navbar.html' %}
    <h1>Bonjour {{ prenom }} {{ nom }}</h1>
    <div class="activities-container">
      {% for activite in activites %}
      <div class="card-body">
        <h5 class="card-title">
          <a
            href="{{ url_for('afficher_detail_activite', code_activite=activite.Code_Activite) }}"
            class="badge badge-dark"
          >
            {{ activite.Nom_Activite }}
          </a>
        </h5>
      </div>
      <div class="card">
        <a
          href="{{ url_for('afficher_detail_activite', code_activite=activite.Code_Activite) }}"
          ><img
            src="{{ activite.Image }}"
            class="card-img-top"
            alt="Activité Image"
            href=""
          />
        </a>
        <!-- <p>{{ activite.Image }}</p>  -->
      </div>
      {% endfor %}
    </div>
  </body>
</html>
