<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Activités</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    {% include 'navbar.html' %}
    <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for activite in activites %}
            <div class="col">
                <div class="card">
                    <img src="{{ activite[2] }}" class="card-img-top" alt="Activité Image">
                    <div class="card-body">
                        <h5 class="card-title">{{ activite[1] }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ activite[3] }} $</h6>
                        <p class="card-text">{{ activite[4] }}</p>
                        <!-- ajouter ca pour chaque activiter-->
                        Moniteur: {{ activite[5] }} {{ activite[6] }}
                        <form action="{{ url_for('inscription_activite', activite_id=activite[0]) }}" method="post">
                            <button type="submit" class="btn btn-primary">S'inscrire</button>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
