<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>
    <div class="container">
        <h2>Connexion Utilisateur</h2>
        <form action="/check_user" method="post">
            <label for="nom_utilisateur">Nom d'utilisateur :</label><br>
            <input type="text" id="nom_utilisateur" name="nom_utilisateur" required><br><br>

            <label for="mot_de_passe">Mot de passe :</label><br>
            <input type="password" id="mot_de_passe" name="mot_de_passe" required><br><br>

            <label for="type_utilisateur">Type d'utilisateur :</label><br>
            <select id="type_utilisateur" name="type_utilisateur">
                <option value="client">Client</option>
                <option value="gestionnaire">Gestionnaire</option>
                <option value="moniteur">Moniteur</option>
                <option value="administrateur">Administrateur</option>
                <option value="prepose">Préposé</option>
            </select><br><br>

            <input type="submit" value="Se connecter">
        </form>
    </div>
</body>
</html>